* {
    margin: 0;
    padding: 0;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Header */

.header {    
    min-height: 75px;
    background-color: rgba(13, 13, 13, 0.6);    
    position: fixed;
    top: 0;    
    z-index: 200;        
}

.header__text {
    color: #F0F0F0;    
    font-size: 15px;
    line-height: 23px;
}

.header__icon {
    color: #E69B21;
}

/* навигация */

#check-menu {
    display: none;
}

.block-menu__label { 
    display: block;     
    width: 65px;
    height: 60px;    
    border-radius: 10%; 
    position: absolute;
    top: 10px;
    right: 10px;      
}

.check-menu__line {    
    width: 35px;
    height: 2px;
    background-color: #E1E1E1; 
    position: absolute;
    top: 13px;
    left: 10px;      
}

.second-burger-line {
    top: 22px;
} 

.third-burger-line {
    top: 30px;
}

.fourth-burger-line {
    top: 39px;
}

.main-menu {         
    max-height: 0;
    font-size: 0;    
    transition: 0.5s all;     
}

.main-menu__text {
    color: white;
    text-decoration: none;           
}

#check-menu:checked ~ .main-menu {
    max-height: 500px;
    font-size: 17px;    
}

.main-menu__text:hover {      
    color: white;  
    text-decoration: none;   
    border-bottom: 2px solid #E69B21; 
}

.main-menu__logo {
    background-size: cover;
    background-image: url(./res/logo_header.png);
    height: 100px;
    width: 160px;    
}

.header__text:hover {
    color: #E69B21;  
    text-decoration: none;
}

/* Секция - FOOTER */

.footer {
    background-color: #131313;
}

.footer_size { 
    min-height: 300px;
}

.text-footer-subtitle {
    font-size: 16px;
    line-height: 23px;
    color: white;
}

.text-footer-description {
    font-size: 13px;
    line-height: 20px;
    color: white;
}

.text_color-white {
    color: white;
}

.text_color-orange {
    color:  #E69B21;
}

.text-footer-description:hover {
    color: #F0F0F0;
    text-decoration: none;
}

.fa:hover {
    color: #E69B21;
}


/* Секция про нас */

.background {
    background-repeat: no-repeat;
    background-size: cover;
}

.section-padding {
    padding-left: 5%;
    padding-right: 5%;
}

.text-title {
    font-size: 26px;
    line-height: 49px;    
    color: #F0F0F0; 
    font-weight: 600;       
}

.text-description {
    font-size: 16px;    
    color: #F0F0F0; 
    font-weight: 400;        
}

.section-about-green__bacground-color {
    background-color:  rgba(15, 55, 25, 0.6);
    min-height: 800px;    
}

.section-about-green { 
    background-image: url(./res/green.png);
    min-height: 800px;    
}

.a {
    border: green 2px solid;
}

.section-about-green_padding {
    padding-top: 80px;
}

.section-zal__polosa {
    border-top: white 3px solid;
    border-bottom: white 1px solid;
    height: 6px;
}

.text-subtitle-orange {
    font-family: Pacifico;
    font-size: 20px;
    line-height: 27px;    
    color: #E69B21;
}

.background-scoba {
    background-image: url(./res/scoba.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.background-foto-about {
    background-image: url(./res/maskov2.png);    
}

.background-foto-about_size {
    height: 480px;
}

.section-about-white {
    background-image: url(./res/bg.png);
    min-height: 700px;
}

.text_color-black {
    color: black;
}   

.background-foto2-about {
    background-image: url(./res/about-foto2.png);
}

.background-foto3-about {
    background-image: url(./res/about-foto3.png);
}

.navbar__border-bottom {
    border-bottom: #E69B21 2px solid;
}

@media (min-width: 576px) { 

    .text-title {
        font-size: 36px;
        line-height: 49px;           
    }    

    .text-description {
        font-size: 14px;              
    }    

    .background-foto-about_size {
        height: 600px;
    }     
}

@media (min-width: 768px) {   

    .text_color-black {
        color: black;
    } 
    
    .background-foto-about_size {
        height: 800px;
    }

    .section-padding {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media (max-width: 992px) {
    .background-scoba {
        background-image: none;        
    }   
  
}

@media (min-width: 992px) {
    .background-foto-about_size {
        height: 480px;
    } 
    
    .text-subtitle-orange {        
        font-size: 22px;
        line-height: 30px;         
    }

    .text-footer-subtitle {
        font-size: 21px; 
        line-height: 29px;       
    }
    
    .text-footer-description {
        font-size: 17px; 
        line-height: 23px;      
    }

    .header {    
        min-height: 95px;             
    }

    .main-menu {  
        display: flex;
        flex-direction: row;
        justify-content: space-between;   
        font-size: 17px;                    
    }

    .section-about-green_padding {
        padding-top: 120px;
    }
}

@media (min-width: 1200px) {
    .text-subtitle-orange {        
        font-size: 30px;
        line-height: 40px;         
    } 
}












